.header {
  padding: 16px;

  display: flex;
  flex-direction: row;
  column-gap: 4px;

  align-items: center;
}

.logo {
  font-size: 3rem !important;
}

.title {
  user-select: none;

  font-size: 1.25rem;
  padding: 8px 20px;
  border-radius: 32px;
  background: var(--POI-UI-PRIMARY);
  color: #fff;

  font-family: var(--POI-UI-FONT-BOLD);
}

@media screen and (max-width: 768px) {
  .header {
    padding: 16px 16px 0;
  }

  .title {
    font-size: 1.2rem;
    padding: 6px 16px;
  }

  .logo {
    font-size: 48px !important;
  }
}
