.titleSpan {
  border-bottom: var(--POI-UI-INFO) 2px solid;
  font-family: var(--POI-UI-FONT-BOLD);
}

.centerFlex {
  justify-content: center;
  align-items: center;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.tcenter {
  text-align: center;
}

.bold {
  font-family: var(--POI-UI-FONT-BOLD);
}
