@media (max-width: 486px) {
  .inputGaro {
    flex-direction: column !important;
    row-gap: 4px;
    width: 100%;
  }

  .input {
    width: 100%;
    flex-grow: unset;
  }

  .buttons {
    width: 100%;
  }

  .buttons > * {
    flex: unset;
    flex-grow: unset;
  }
}

.buttons {
  overflow: unset;
}

.success {
  animation: fadein 0.3s;
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.successContainer > div:nth-child(2) {
  width: 90%;
  box-sizing: border-box;
  animation: fadein 0.7s;
}

.successContainer > div:nth-child(3) {
  width: 90%;
  box-sizing: border-box;
  margin-top: -5px;
  animation: fadein 1s;
}

.successContainer > div:nth-child(2) > div {
  padding-top: 15px !important;
}

.buttons > div > * {
  width: 100%;
}

.optionContainers {
  padding: 5px;
  border-radius: 5px;
  background: #f2f2f2;
  color: black;
}
